<div class="Item02_role">
	</div>
<div class="Content_role">
	別太擔心，每個寶寶的發展還是存在個別差異
，目前可能只是發展較慢一些，請再耐心觀察看看喔。
</div>
<!--
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159">幸福五顆星</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=13&Itemid=130">為何總是在吵架</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=14&Itemid=130">具建設性的衝突</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
	<div class="noteTableExplain">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=8&Itemid=130">同理的力量</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="noteTableExplain" id="MobileNotShow">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img src="images/Speaker_03_1_01.png" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=5&Itemid=130">愛情歷久一樣濃</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
-->

