<div class="Item02_role">
	傷痛隱約還在...</div>
<br>
<div class="Content_role">
	雖然時間已經長了，但想起那些時光仍然有傷痛<br>
	這是正常的現象，情感用多深，分手傷多痛<br>
	但一直停留在傷痛中並不是一件非常好的事情<br>
	要給自己一個哀傷的計畫<br>
	幫助自己在該哭的時候用力哭<br>
	不該哭的時候收起眼淚，讓自己渡過傷痛期</div>
<br>
<br>
<div class="Item02_role">
	重新接納/認識自己</div>
<br>
<div class="Content_role">
	一段感情的基礎，在於我們認識自己且愛自己<br>
	在發展一段浪漫的感情前，先好好的愛自己<br>
	尤其在一段傷痛後，我們更是需要先肯定自己<br>
	我們可以透過學習、和朋友互動，來認識自己<br>
	當我們更認識自己，就會更接納自己、肯定自己<br>
	這樣才有建立浪漫關係的基礎與本錢喔</div>
<br>
<br>
<div class="Item02_role">
	重新出發</div>
<br>
<div class="Content_role">
	每個人都期待能夠愛與被愛<br>
	有的是從親人、有的是從好朋友<br>
	有的則是浪漫的關係，只是要記得「預備好才出發」<br>
	關係的預備很重要，可以避免傷害<br>
	也能幫助我們在關係中，經營得更甜蜜、有智慧<br>
	因為愛我們學習、學習讓我們更相愛</div>
<br>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=18&Itemid=130">在傷痛中學習成長</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=3&Itemid=156">愛的語言</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=1&Itemid=148">測驗我的愛情風格</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=23&Itemid=130">愛要穩固根基</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>


