<div class="Item02_role">
	傷痛難免，友情是特效藥</div>
<br>
<div class="Content_role">
	戀情的結束，往往帶著心痛與後悔<br>
	這時候總是希望身旁有人可以安慰、傾聽或扶持你<br>
	這時候的我們可以選擇找信任的好朋友聊聊<br>
	讓友情成為心痛的療藥！</div>
<br>
<br>
<div class="Item02_role">
	心碎時的陷阱</div>
<br>
<div class="Content_role">
	此時此刻，我們最需要的是從傷痛中走出來<br>
	這時的我們可能會問：「難道我不可愛嗎？」<br>
	「我是不是不夠好？」、「沒了他我該怎麼辦？」<br>
	這些問題因為與人分離所產生的傷痛，並不是事實<br>
	而且這樣的聲音在我們腦海中徘徊<br>
	很容易引導我們走入陷阱－快速進入下一段戀情<br>
	在受傷的狀況下，把同情當成愛情的例子不少<br>
	但造成二次傷害的機會也不小</div>
<br>
<br>
<div class="Item02_role">
	化悲憤為力量</div>
<br>
<div class="Content_role">
	分手是個悲痛、又酸澀的回憶<br>
	但我們可以想想這段關係怎麼了<br>
	是因為如何才造成的呢？<br>
	仔細的檢視，才能幫助自己更快走出傷痛<br>
	有好朋友的支持，更能夠重拾快樂、自信的自己</div>
<br>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
				<a href="index.php?option=com_content&view=article&id=18&Itemid=130">在傷痛中學習成長</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=17&Itemid=130">來杯淡定飲料前</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>

