<div class="Item02_role">
	3-6歲</div>
<br>
<div class="Content_role">
	這個階段，很多寶寶開始喜歡自己改編故事、或
在爸媽唸故事時一直不停的插話及問為什麼？
或是特別喜歡某一本書，每天都會看數次等等
….這些都是正常的情形，不用擔心，這時候只要
順著寶寶的喜好，他們會很享受和爸媽一起閱
讀的時光。
<br>
<br>
因此這個階段，除了選擇趣味性和知識性豐富
的書籍外，也不訪帶著孩子到書店或是圖書館
去，讓孩子自己選擇喜歡的書和爸媽一起閱讀，
反而會出現意想不到的驚喜喔。</div>
<!--
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159">幸福五顆星</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&layout=libra&id=11&Itemid=168">我要愛情+麵包</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=11&Itemid=130">了解衝突沒有對錯</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
	<div class="noteTableExplain" id="MobileNotShow">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img src="images/Speaker_03_1_01.png" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=5&Itemid=130">愛情歷久一樣濃</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="noteTableExplain">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=10&Itemid=130">如何表達感謝</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
-->

