<div class="Item02_role">
	18-36個月</div>
<br>
<div class="Content_role">
	寶寶1.5歲以後，通常會有和一般人一樣的視力，此
時爸媽陪著寶寶一起書時，如果寶寶出現看不清楚
圖文的行為（如：一直揉眼睛或沒反應等），可能就要
進一步到眼科診所檢查視力了。
<br>
<br>
因此這個階段，可以選擇一些主角、故事鮮明、內容
簡單、圖多於文的書，寶寶也特別樂於在書尋找自己
看過的人事物，也會自己為書中主角或是物品取名
字，爸媽一起共讀，除了可以增加和寶寶的互動外，
還能為寶寶帶來更多的詞彙與訊息，爸媽不訪選擇
一些寶寶可以跟寶寶生活經驗與學習連結或是充滿
想像力的故事，都很容易受到寶寶的喜愛喔。（如：動
植物為主角的、生活經驗可以類比的等….）</div>
<!--
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=4&Itemid=159">幸福五顆星</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_1_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=6&Itemid=163">關係病毒偵測器</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=13&Itemid=130">為何總是在吵架</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=14&Itemid=130">具建設性的衝突</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
	<div class="noteTableExplain">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=8&Itemid=130">同理的力量</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="noteTableExplain" id="MobileNotShow">
		<table border="0" cellpadding="0" cellspacing="0">
			<tbody>
				<tr>
					<td>
						<img src="images/Speaker_03_1_01.png" /></td>
					<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
						<a href="index.php?option=com_content&view=article&id=5&Itemid=130">愛情歷久一樣濃</a></td>
					<td>
						<img height="48" src="images/Speaker_03.png" width="21" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
-->

