/* EPAPER */
.epaperM{
  background: #fff!important;
  box-sizing: border-box;
}
.epaperContentM{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.navMobile{
  display: none;
  cursor: pointer;
}
.navMobileOpen{
  display: none;
  width: 100%;
  background: #85c114;
  position: relative;
  z-index: 999;
  top: -16px;
  padding: 10px 0 0 0;
}
.navMobileOpen a{
  clear: both;
  display: block;
  color: #242424;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
}
.navMobileOpen a:hover{
  color: #fff;
}
.navMobileOpen .shareIconsM{
  text-align: center;
  background: #475f1c;
  margin-top: 10px;
  padding-top: 10px;
}
.navMobileOpen .shareIconsM a{
  display: inline-block;
}
/*header{
  box-sizing: border-box;
}*/
.epaperContentM header{
  box-sizing: border-box;
  background: url("../images/headerBG.png") repeat;
  padding: 2px 55px 5px 55px;
}
.headerA{
  clear: both;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0px;
  overflow: hidden;
}
.headerA h1{
  float: left;
}
.headerA .shareIcons{
  float: right;
}
.headerA .shareIcons a{
  margin-left: 10px;
    text-decoration: none;
}
.headerB{
  overflow: hidden;
  clear: both;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 5px;
}
.headerB .epaperNav{
  width: 76%;
  height: 64px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("../images/navBg.png");
  text-align: center;
  box-sizing: border-box;
  padding: 22px 0;
}
.headerB .epaperNav a{
  line-height: 20px;
  color: #000;
  font-size: 18px;
  border-left: 1px solid #d22948;
  display: inline-block;
  padding: 0 12px 0 15px;
}
.headerB .epaperNav a:hover{
  color: #d22948;
}
.headerC{
  width: 100%;
  overflow: hidden;
  clear: both;
  box-sizing: border-box;
  position: relative;
}
.headerC div{
  float: left;
}
.headerC .headerCa{
  text-align: center;
  margin-right: 20px;
}
.headerC .headerCa p{
  font-size: 15px;
}
.headerC .headerCb{
  position: absolute;
  left: 90px;
  bottom: 0;
}
.headerC .headerCb img{
  margin-right: 7px;
}
.headerC .headerCc{
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}
.headerC .headerCc img,
.headerC .headerCc p{
  float: right;
}
.headerC .headerCc p{
  font-size: 14px;
  margin-right: 20px;
  color: #7f8489;
  padding-top: 13px;
}
.headerC .headerCc p span{
  font-size: 20px;
  color: #689ad2;
  display: block;
  margin-bottom: 8px;
}
.bannerM{
  width: 100%;
  clear: both;
}
.bannerM img{
  max-width: 100%;
  display: block;
}
.epaperLFM{
  padding-top: 0px;
  box-sizing: border-box;
  background: url("../images/epaperBG.png") repeat-y;
}
.epaperListM{
  box-sizing: border-box;
}
.epaperListM ul {
    -webkit-padding-start: 0px;
}
.epaperListM ul li{
  max-width: 1000px;
  /*height: 200px;*/
  overflow: hidden;
  box-sizing: border-box;
  margin:0 auto 12px auto;
  -moz-box-shadow:0px 8px 13px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 8px 13px rgba(0,0,0,0.2);
  box-shadow:0px 8px 13px rgba(0,0,0,0.2);
    list-style-type:none;
}
.epaperListM ul li.gfamily{
  background: #dcda9f;
}
.epaperListM ul li.gcouple{
  background: #f5cfba;
}
.epaperListM ul li.gteach{
  background: #f4e8b5;
}
.epaperListM ul li div{
  float: left;
  box-sizing: border-box;
}
.epaperListM ul li div img{
  max-width: 100%;
  display: inline-block;
}
.epaperListM ul li .epaperListA{
  width: 23%;
  text-align: center;
}
.epaperListM ul li .epaperListB{
  width: 49%;
  padding: 18px 0;
  box-sizing: border-box;
  height: 100%;
    text-decoration: none;
}
.epaperListM ul li .epaperListA div,
.epaperListM ul li .epaperListB div,
.epaperListM ul li .epaperListC div{
  border-left: 3px solid #e5e8da;
  height: 100%;
  padding: 0 20px;
}
.epaperListM ul li .epaperListB p{
  font-size: 16px;
  color: #91884b;
  line-height: 24px;
  text-decoration: none;
}
.epaperListM ul li .epaperListB .epaperListTitle{
  font-size: 23px;
  margin: 10px 0;
}
.epaperListM ul li .epaperListC{
  width: 28%;
  text-align: center;
  padding-top: 24px;
    padding-left: 2px;
    padding-right: 2px;
}
.epaperLFM footer{
  background: #88ba7d;
  text-align: center;
  box-sizing: border-box;
}
.epaperLFM footer img{
}
.epaperDetailTitleM{
  width: 100%;
  text-align: right;
  margin-top: -50px;
  background: url("../images/edetailBG.png") repeat-x;
}
.epaperDetailTitleAM{
  float: left;
}
.epaperListM .detailAll{
  border: 1px dashed #7d8e48;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 25px;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 30px;
  -moz-box-shadow:2px 3px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow:2px 3px 0px rgba(0,0,0,0.1);
  box-shadow:2px 3px 0px rgba(0,0,0,0.1);
}
.epaperListM .detailAll .detailTitle{
  font-size: 29px;
  color: #fb7923;
  font-weight: bold;
  margin-bottom: 25px;
}
.epaperListM .detailAll .detailTitle2{
  font-size: 26px;
  color: #7aa21e;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.epaperListM .detailAll .detailTitle3{
  font-size: 26px;
  color: #012d2c;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-align: center;
  margin: 20px 0 10px 0;
}
.epaperListM .detailAll .detailTitle4{
  font-size: 26px;
  color: #e86398;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.epaperListM .detailAll p{
  color: #666666;
  font-size: 17px;
  line-height: 35px;

}
.epaperListM .detailAll img{
  max-width: 100%;
}
.epaperListM .detailAll .detailG{
  background: #afd55c;
  padding: 15px 25px;
  box-sizing: border-box;
  margin-top: 15px;
}
.epaperListM .detailAll .detailG img{
  margin: 20px 0;
}
.epaperListM .detailAll .detailL{
  width: 66%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}
.epaperListM .detailAll .detailR{
  width: 34%;
  box-sizing: border-box;
  float: left;
}
.epaperDetailM{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  background: url("../images/headerBG.png") repeat;
  border-top: 20px solid #88ba7d;
  position: relative;
  padding-bottom: 130px;
}
.epaperDetailM h1{
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 9;
  width: 16%;
}
.epaperDetailM h1 img{
  max-width: 100%;
}
.epaperDetailM .epaperDetailA
{
    margin-left: -8px;
}
.epaperDetailM .epaperDetailC
{
    margin-left: -8px;
}
.epaperDetailM .epaperDetailB{
  padding: 5px 70px;
  background: url("../images/detailBg2.png") repeat-y;
  background-size: contain;
  overflow: hidden;
    margin-left: -8px;

}
.epaperDetailBL, .epaperDetailBR{
  float: left;
  overflow: hidden;
}
.epaperDetailBL{
  width: 70%;
  padding-right: 15px;
  box-sizing: border-box;
}
.epaperDetailBR{
  width: 30%;
  padding: 0 15px;
  box-sizing: border-box;
  background: #f2e8de;
}
.epaperDetailBR p img{
    max-width: 100% !important;
}
.epaperDetailBR h2{
  color: #000!important;
}
.epaperDetailBR img{
  max-width: 100%;
}
.epaperDetailM .epaperDetailB h2{
  font-size: 30px;
  color: #f26600;

  margin: 10px 0;
}
.epaperDetailM .epaperDetailB p{
  overflow: hidden;
  font-size: 15px;
  line-height: 30px;

  color: #0f0f0f;
  margin-bottom: 0px;
}
.epaperDetailM .epaperDetailB p img{
  margin: 0 10px 10px 10px;
  max-width: 30%;
}
.epaperDetailM .epaperDetailB .epaperDetailBa{
  position: relative;
  background: #f2e8de;
  min-height: 300px;
  margin-top: 30px;
}
.epaperDetailM .epaperDetailB .epaperDetailBa .epaperDetailBaPast{
  position: absolute;
  margin-left: -80px;
  left: 50%;
  top:-17px;
}
.epaperDetailM .epaperDetailA img,
.epaperDetailM .epaperDetailC img{
  display: block;
  max-width: 100%;
}
.epaperDetailBottom{
  position: absolute;
  bottom: 0;
}
.epaperDetailBottom img{
  display: block;
  max-width: 100%;
}
#goTop{
  position: fixed;
  right: 5%;
  bottom: 20px;
  display: none;
  z-index: 9999;
}
#goTop img{
  width: 30px;
}
/* END EPAPER */
.memberM{
  width: 90%;
  padding: 50px 20px 35px 20px;
  box-sizing: border-box;
  clear: both;
  margin: 50px auto;
  border-top: 4px solid #37b04e;
  border-bottom: 1px solid #37b04e;
  border-right: 1px solid #37b04e;
  border-left: 1px solid #37b04e;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+69,37b04e+100&1+0,0.25+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.48) 69%, rgba(55,176,78,0.25) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 69%,rgba(55,176,78,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 69%,rgba(55,176,78,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4037b04e',GradientType=0 ); /* IE6-9 */

}
.memberM h1{
  color: #37b04e;

  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  top: -13px;
  left: 50%;
  margin-left: -70px;
  background: #fff;
}
.memberM h1.large{
  width: 180px;
  margin-left: -90px;
}
.memberM ul li{
  overflow: hidden;
  margin-bottom: 10px;
  min-height: 30px;
  box-sizing: border-box;
}
.titleM{
  color: #666;
  font-size: 15px;
  width: 30%;
  text-align: right;
  padding-right:20px;
  float: left;
  line-height: 30px;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.titleM span{
  color: #ff5d4c;
  box-sizing: border-box;
}
.typeM{
  width: 60%;
  float: left;
  box-sizing: border-box;
}
.typeM input, .typeM select{
  height: 30px;
  border: 1px solid #d0d0d0;
  width: 80%;
  padding: 0 10px;
  box-sizing: border-box;
}
.typeM a{
  color: #1da0d7;
  text-decoration: underline;;
  width: 60%;
  float: left;
  box-sizing: border-box;
}
.type2M{
  width: 60%;
  float: left;
  color: #37b04e;
  letter-spacing: 1px;
  line-height: 25px;
  box-sizing: border-box;
}
.type3M{
  width: 40%;
  float: left;
  color: #37b04e;
  letter-spacing: 1px;
  line-height: 25px;
  box-sizing: border-box;
}
.type3M input{
  height: 30px;
  border: 1px solid #d0d0d0;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.type4M{
  width: 30%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
}
.type4M button{
  width: 30px;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  color: #fff;
  background: #37b04e;
  border: 0;
  cursor: pointer;
  height: 30px;
}
.type5M, .type6M, .type7M{
  width: 60%;
  float: left;
}
.type5M input{
  height: 30px;
  float: left;
}
.type5M p{
float: left;
line-height: 30px;
margin: 0 10px;
}
.type6M button{
  width: 80%;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  color: #fff;
  background: #37b04e;
  border: 0;
  cursor: pointer;
  height: 30px;
}
.type7M button{
  width: 40%;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  color: #fff;
  background: #37b04e;
  border: 0;
  cursor: pointer;
  height: 30px;
}
.type7M button:last-child{
  margin-left: 10px;
  color: #37b04e;
  background: #fff;
  border: 1px solid #37b04e;
}
.type8M{
  width: 70%;
  margin: 0 auto;
  color: #37b04e;
  letter-spacing: 1px;
  line-height: 25px;
  box-sizing: border-box;
}
.epaperEach{
    width: 100%;
    padding: 50px 20px 35px 20px;
    box-sizing: border-box;
    clear: both;
    margin: 50px auto;
    border-top: 4px solid #37b04e;
    border-bottom: 1px solid #37b04e;
    border-right: 1px solid #37b04e;
    border-left: 1px solid #37b04e;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+69,37b04e+100&1+0,0.25+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.48) 69%, rgba(55,176,78,0.25) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 69%,rgba(55,176,78,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.48) 69%,rgba(55,176,78,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4037b04e',GradientType=0 ); /* IE6-9 */

  }

.epaperEach h1{
  color: #37b04e;

  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  position: absolute;
  width: 120px;
  top: -13px;
  left: 50%;
  margin-left: -60px;
  background: #fff;
}
.epaperBooking{
  position: absolute;
  top:11px;
  right:20px;
  display: block;
  line-height: 30px;
  font-size: 15px;
  color: #fff;
  background: #37b04e;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}
.epaperTable{
  width:100%;
  border:1px solid #c0c0c0;
  box-sizing: border-box;
  background: #fff;
}
.epaperTitleM{
  clear:both;
  overflow:hidden;
  box-sizing: border-box;
  width:100%;
  border-top:1px solid #c0c0c0;
}
.epaperTitleM:first-child{
  border-top:0px solid #c0c0c0;
}
.epaperTitleM div{
  float: left;
  font-size: 15px;
  box-sizing: border-box;
  padding: 10px;
  line-height: 25px;
}
.epaperTitleFullM{
  text-align: center;
  line-height: 40px;
  background: #92704e;
  color: #fff;
}
.epaperTitleM .titleAM,
.epaperTitleM .titleCM,
.epaperTitleM .contentAM,
.epaperTitleM .contentCM{
  width: 20%;
}
.epaperTitleM .titleBM,
.epaperTitleM .titleDM,
.epaperTitleM .contentBM,
.epaperTitleM .contentDM{
  width: 30%;
}
.epaperTitleM .titleABM,
.epaperTitleM .contentABM{
    display: none;
    width: 20%;
  }
.epaperTitleM .contentBM img,
.epaperTitleM .contentABM img{
  width: 100%;
}
.epaperTitleM .contentABM img{
  margin-top: 5px;
}
.epaperTitleM .contentCM,
.epaperTitleM .contentDM{
  text-align: center;
}
.epaperTitleM .contentDM button{
  background: #92704e;
  color: #fff;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


