/* Latin characters 專用 */
@font-face {
  font-family: '微軟正黑體',arial, helvetica, sans-serif; /* 同樣的 font-family */
  unicode-range: U+0030-0039;  /* Number */
  src: local(Helvetica),     /* OS X preferred */
       local(Arial);         /* Other OS */
}

body {
	font-size: 13px;
	color: #494949;
	background-position: left top;
	font-family: '微軟正黑體',"PMingLiU","Arial";
	overflow-x: hidden;

	background-color:#cccccc;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cccccc, endColorstr=#f6f6f6);
	background:linear-gradient(to bottom, #cccccc 0%, #F7F8FA 20%, #f6f6f6 100%);
}

.all {
	width: 1000px;
	min-height: 945px;
	border-top: 5px solid #b6b6b6;
	margin: 0 auto;
	padding: 0 !important;
}

a {
	color: #202020;	
}

/*img {
	max-width: 100%;
}*/

.highlight {
	color: #f00;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
#content .btn a {
	color: #fff;
	background-color: #80848b;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#737373, endColorstr=#575757);
	background:linear-gradient(to bottom, #737373 0%, #575757 100%);
	border: 0;
	border-top: 1px solid #898989;
	line-height: 21px;
	padding: 0 15px;
	margin: 5px 0;
	cursor: pointer;
}

button {
    color: #202020;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 25px;
    padding: 0 5px;
    margin: 5px 0;
    cursor: pointer;
}

#content .btn a {
	display: inline-block;
}

input[type="file"] {
	width: 100%;
	min-width: 75px;
}

li.disc {
	list-style: disc;
}

.alert-message .close,
.alert-message .alert-heading,
.alert-notice .close,
.alert-notice .alert-heading {
	display: inline;
}

em {
	font-style: italic;
}

.icon-zoom-in {
	cursor: pointer;
}

a.p_btn input[type="button"],
.p_btn a {
	display: block;
	font-size: 13px;
	line-height: 25px;
	padding: 0 35px;
	text-align: center;
	border-top: 1px solid #cd84d3;
	text-shadow: 0;
	color: #fff;
	background-color: #b154ba;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c36eca, endColorstr=#b154ba);
	background:linear-gradient(to bottom, #c36eca 0%, #b154ba 100%);
}

div.p_btn,
a.p_btn input[type="button"] {
	float: right;
}



@media (max-width: 767px) {


    div.com_postcards .submit_block {
        zoom: 0.7;
    }

    body.layout-checklist_picnic #checklist .pull-left, body.layout-checklist_picnic #checklist .pull-right {
        width:100%;
    }

    body.layout-checklist_picnic #checklist  .pull-right {
        margin-bottom: 30px;
        margin-top:5px;
        overflow: auto;
        height:auto;
        display: block;
    }

    body.layout-checklist_picnic .submit_block {
        left: initial !important;
        top:initial !important;
    }



}

