/* ########## sf-mainmenu ########## */
#mainmenu #item-134,
#mainmenu #item-134_now,
#mainmenu #item-135,
#mainmenu #item-135_now,
#mainmenu #item-140,
#mainmenu #item-140_now,
#mainmenu #item-141,
#mainmenu #item-141_now,
#mainmenu #item-144,
#mainmenu #item-144_now {
	width: 95px;
}

#mainmenu #item-136,
#mainmenu #item-136_now,
#mainmenu #item-137,
#mainmenu #item-137_now {
	width: 140px;
}

#mainmenu #item-138,
#mainmenu #item-138_now,
#mainmenu #item-278,
#mainmenu #item-278_now {
	width: 110px;
}

#mainmenu #item-295,
#mainmenu #item-295_now {
	width: 125px;
}

#mainmenu #item-142,
#mainmenu #item-142_now {
	width: 120px;
}

#mainmenu #item-278,
#mainmenu #item-278_now {
	border-right: 0px !important;
}

#mainmenu #item-134 ul,
#mainmenu #item-134_now ul {
	left: -41px;
}

#mainmenu #item-144 ul,
#mainmenu #item-144_now ul {
	width: 248px !important;
}