.choiceBoxBg {
  background: #e9e9e9;
}

.choiceBox {
  width: 650px;
  overflow: hidden;
}

.choiceBox .choiceBoxL {
  width: 495px;
  float: left;
  text-align: center;
  padding: 150px 20px 20px 20px;
  position: relative;
  border-right: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.choiceBox .choiceBoxL .title {
  padding: 15px;
  background: rgba(255, 255, 255, 0.65);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  text-align: left;
  letter-spacing: 1px;
}

.choiceBox .choiceBoxL .title h1 {
  color: #418b27;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 15px;
}

.choiceBox .choiceBoxL .title p {
  color: #333333;
  font-size: 15px;
  line-height: 25px;
}

.choiceBox .choiceBoxL .sampleTitle {
  color: #333333;
  font-size: 15px;
  margin-bottom: 20px;
}

.choiceBox .picturesSample {
  top: 185px;
  position: absolute;
}

.choiceBox .pictures {
  width: 448px;
  margin: 0 auto;
  text-align: center;
}

.choiceBox .pictures .head {
  width: 90px;
  height: 90px;
  margin: 6px 11px;
  float: left;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.choiceBox .pictures .head p {
  width: 100%;
  color: #fff;
  bottom: 0;
  font-size: 13px;
  height: 23px;
  line-height: 23px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
}

.choiceBox .pictures .head img {
  width: 90px;
}

.choiceBox .choiceBoxR {
  width: 210px;
  float: left;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  color: #333333;
}

.choiceBox .choiceBoxR h2 {
  font-size: 15px;
  line-height: 25px;
  color: #333333;
}

.choiceBox .choiceBoxR img {
  display: block;
  margin: 0 auto;
}

.choiceBox .choiceBoxR label {
  width: 100%;
  clear: both;
  cursor: pointer;
}

.choiceBox .choiceBoxR input {
  margin-right: 5px;
}

.choiceBox .choiceBoxR button {
  color: #fff;
  border: 0;
  width: 100%;
  background: #418b27;
  font-size: 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: 80px 0;
  height: 50px;
  text-align: center;

  margin-top: 25px;
  cursor: pointer;
}

.choiceBox .upload {
  width: 680px;
  margin: 0 auto;
}

.choiceBox .upload .uploadTitle1, .choiceBox .upload .uploadTitle2 {
  color: #333333;
  font-size: 15px;
  text-align: center;
  line-height: 25px;
}

.choiceBox .upload .uploadTitle1 {
  color: #418b27;
  margin: 35px 0 10px 0;
}

.choiceBox .upload .uploadTitle2 {
  margin: 0 0 30px 0;
}

.choiceBox .upload .uploadBox {
  margin-bottom: 35px;
}

.choiceBox .upload .uploadBox div {
  width: 25%;
  float: left;
  padding: 5px 10px;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.choiceBox .upload .uploadBox div input {
  width: 100%;
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  border: 1px solid #ababab;
  padding: 0 10px;
  margin: 15px 0 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.choiceBox .upload .uploadBox div input placeholder {
  color: #ababab;
}

.choiceBox .upload .uploadBox div .uploadImgMask {
  width: 150px;
  height: 150px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
}

.choiceBox .upload .uploadBox div #upload {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #fff;
  background: #fda445;
  text-align: center;
  border: 0;
  padding: 0 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.choiceBox .upload .uploadBox div .id_image_large {
  display: none;
}

.choiceBox .upload button {
  color: #fff;
  border: 0;
  width: 100%;
  background: #418b27;
  font-size: 15px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: 58% 0;
  height: 50px;
  text-align: center;
  /*padding-left: -20px;*/
  margin-top: 25px;
  cursor: pointer;
}

.finishChoice {
  position: relative;
  text-align: center;
}

.finishChoice .finishTitle {
  line-height: 150px;
}

.finishChoice .picturesSample2 {
  top: 185px;
  position: absolute;
  left: 50%;
  margin-left: -224px;
}

.finishChoice button {
  color: #fff;
  border: 0;
  width: 100%;
  background: #418b27;
  font-size: 15px;
  background-image: url(../images/arrowDown.png);
  background-repeat: no-repeat;
  background-position: 57% 0;
  height: 50px;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
}
