.all {
	width: 630px;
}

/*** header ***/
.header-menu #topmenu {
	display: block;
}

.header-menu #topmenu .last_separator {
	display: none;
}

#retopmenu {
	display: none !important;
}

.header-menu .itp-gs_search {
	float: left;
	display: block;
	margin-top: 10px;
	margin-right: 5px;
}

.header-menu .mod_topshare {
	float: right;
}

/*** mainmenu ***/
#mainmenu {
	display: none;
}

#open-remainmenu {
	float: right;
	margin-top: 25px;
	display: block !important;
	background-color:#91613b;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#91613b, endColorstr=#895830);
	background:linear-gradient(to bottom, #91613b 0%, #895830 100%);
}

#open-remainmenu a {
	width: 68px;
	height: 42px;
	display: block;
	background-image: url('../images/system/menu.png');
	background-repeat: no-repeat;
	background-position: 17px 6px;
}

#open-remainmenu a span {
	display: none;
}

.mainmenu ul#remainmenu {
	margin: 0;
	z-index: 10;
	width: 235px;
    top: 115px;
    right: 0px;
    left: inherit;
    margin-top: 25px;
    text-align: center;
    position: absolute;
}

#remainmenu .mainlevel1 .itemlevel1 {
	background: #f0bc55;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0bc55, endColorstr=#eaa63f);
	background:linear-gradient(to bottom, #f0bc55 0%, #eaa63f 100%);
	border-top: 1px solid #f0bc55;
}

#remainmenu .mainlevel1.active .itemlevel1  {
	border-top: none;
	background-color:#31af54;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#31af54, endColorstr=#25943f);
	background:linear-gradient(to bottom, #31af54 0%, #25943f 100%);
}

#remainmenu .mainlevel1 a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 28px;
}

#remainmenu .mainlevel2 .itemlevel2 {
	background-color:rgba(10, 102, 33, 0.9);
}

#remainmenu .mainlevel2 a {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
}

#remainmenu .mainlevel2 .itemlevel2:hover,
#remainmenu .current.mainlevel2 .itemlevel2 {
	background: #0A6621;
}

#remainmenu .mainlevel2 .itemlevel2:hover a,
#remainmenu .current.mainlevel2 .itemlevel2 a {
	/*color: #FF7733;*/
}

#remainmenu .mainlevel2 .itemlevel2 {
	text-align: left;
}

#remainmenu .submenu_icon {
	font-weight: bold;
	color: #3f6;
	margin: 0 10px 0 20px;
}

/*** banner ***/
.head_banner {
	margin-top: 0;
}

#home_banner .bannergroup {
    height: 310px;
}

#tmpl_banner .bannergroup {
	height: 260px;
} 

/*** home ***/
.home {
	margin: -108px 10px 0 10px;
}

#contentarea_block {
	margin: -58px 10px 0 10px;
}

.home .quick_link,
#contentarea_block .quick_link {
	padding: 5px 10px 15px 10px;
}

.quick_link .item_block img,
.quick_link .time_block img {
	width: 142px;
}

.home .home_area {
	height: auto;
}

.home_area .left,
.home_area .middle,
.home_area .right {
	margin: 0;
	float: none;
	width: 100%;
	overflow: auto;
}

/*** left ***/
#tabs_announcement {
	height: 112px !important;
	width: 67%;
	float:left;
}

#tabs_announcement .tab-box {
	height: 105px !important;
	background-image: none;
}

#tabs_announcement .tab-title_announcement.tab-1st {
	top: 20px;
	left: 15px;
}

#tabs_announcement .tab-title_announcement.tab-2nd {
	top: 58px;
	left: 15px;
}

.tab-title a {
	padding: 3px 17px;
	color: #334901 !important;
}

.tab-title a.active {
	color: #FFFFFF !important;
	background-color: #8FBC17;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8FBC17, endColorstr=#7BB113);
	background:linear-gradient(to bottom, #8FBC17 0%, #7BB113 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tab-content {
	top: 0 !important;
	margin-left: 135px;
}

.tab-separator { 
	display: none !important;
}

.mod_announcement .listline {
	padding: 5px 0 5px 0;
}

.mod_announcement .listline .title_icon {
	position: absolute;
}

.mod_announcement .listline .rdate,
.mod_announcement .listline .rtitle {
	margin: 0;
	display: inline-block;
}

.mod_announcement .listline .rdate {
	position: relative;
    top: -7px;
}

.mod_announcement .listline .rtitle {
	margin-left: 20px;
	overflow : hidden;
	text-overflow : ellipsis;
	white-space : nowrap;
	width : 155px;
}

.mod_announcement .datablock {
	height: 25px;
    padding: 0px 10px;
    margin-left: 5px;
    line-height: 25px;
}

/*** middle ***/
.home_area .middle {
	margin-top: 7px;
}

.mod_hit .hit_block {
	height: 250px;
}

.mod_hit .h_content,
.mod_hit .h_more {
	width: 50%;	
}

.mod_hit .h_more {
	text-align: left;
}

.mod_hit .h_youtube {
	float: right;
	margin-top: -120px;
}

.mod_hit .h_youtube embed {
	width: 260px;
	height: 160px;
}

/* 2015-08-07 */
.home_area .newsflash {
	height: auto;
}

.home_area .newsflash .hit_name {
	top: 231px;
    left: 0px;
}

/*** right ***/
.home_area .right {
	margin-top: 7px;
	overflow: hidden;
}

#login-form {
	width: 67%;
	float: left;
	min-height: 180px;
}

#login-form .userdata {
	height: 180px;
}

#login-form .login_title {
	width: 383px;
}

#login-form .login_block {
	height: 134px;
}

#login-form #form-login-username {
	width: 54%;
	padding-top: 10px;
}

#login-form #form-login-password {
	width: 54%;
	padding: 10px 0;
}

#modlgn-username, 
#login-form #modlgn-passwd {
	width: 175px !important;
	line-height: 38px !important;
}

#login-form #form-login-submit button {
	width: 166px;
	height: 38px;
	margin: 0;
}
	
#login-form #form-login-submit {
	margin-left: 56%;
	margin-top: -115px;
}

#login-form .unstyled {
    margin-left: 56%;
    margin-top: 10px;
}

.custom_iquick,
.custom_iquick2 {
	float: right;
}

.custom_iquick .iquick_link,
.custom_iquick2 .iquick_link {
	margin-top: 0px;
	margin-bottom: 8px;
}

.custom_iquick .iquick_icon,
.custom_iquick2 .iquick_icon {
	width: 192px;
}

/*** footer ***/
#footer_home #footermenu {
	margin: 0;
	z-index: 2;
	float: right;
	display: block !important;
	position: relative;
	top: -60px;
	right: 74px;
}

#footer_tmpl #footermenu {
	margin: 0;
}

#footer_home #footermenu .separator {
	display: none;
}

#footer_home ul#footermenu li {
	display: block;
}

#footer_home .custom_footerintro {
	float: left;
	text-align: center;
    margin-top: -48px;
}

.foot_main .footergroup {
	height: 108px;
}


/*** leftmenu ***/
#left_menu {
	display: none;
}

.contentarea #content, .return {
	margin: 0;
	padding: 0;
}

/*** content ***/
/*** article ***/
#content_block table {
	max-width: 100% !important;
}

div.contriNewsMore a:link {
	background-size: 90%;
}

div.contriNewsInfo {
	width: 77%;
    height: 27px;
}

div.contriNewsMore {
	width: 72px;
	height: 25px;
}
/*** com_sexypolling ***/
.com_sexypolling #content_block img {
	max-width: 100% !important;
}

/*** com_choose ***/
.intro_image {
	display: none;
}

.com_choose .choose_block {
	width: 138px;
}

.com_choose .choose_item {
	font-size: 14px;
	background-size: 98%;
}

.com_choose .mychoose {
	width: 72px;
}

.com_choose #mychoose_block {
	width: 100%;
	height: 450px;
}

.com_choose .mychoose {
	margin: 0 1.5px;
	width: 73px;
}

.com_choose .game_block .mychoose {
	width: 568px;
	height: 450px;
}

/*** com_vquiz ***/
.com_vquiz .desc_img {
	display: none;
}

.com_vquiz .libra {
	width: 100%
}

.com_vquiz .gif_img {
	width: 105px;
}

.com_vquiz .noteTableExplain {
	font-size: 15px !important;
}

.com_vquiz td .owl_img {
	display: none;
}

/*** com_postcards ***/
.com_postcards .img_block {
	margin: 0 !important;
	padding: 2px !important;
}

.com_postcards #content_block img {
	max-width: 100% !important;
}
.com_postcards.familytree.view_card {
    -ms-transform: scale(0.7); /* IE 9 */
    -webkit-transform: scale(0.7); /* Chrome, Safari, Opera */
    transform: scale(0.7);
}

/*** com_truelove ***/
.com_truelove #truelove_bg {
	display: none;
}

.com_truelove .next {
	margin-right: 0px;
}

.main_box .box{
	width:80%;
	margin: 0 auto;
	text-align: center;
	/*display: none;*/
}

/*** com_timeline ***/
.com_timeline .userdata {
	width: 408px;
}
.com_timeline #login-form {
	width: 72%;
}

/* rene */
.custom_temp_img img {
    display: none;
}

.custom_iquick, .custom_iquick2 {
	float: left;
	margin-right: 10px;
}

#footer_home {
	margin-top: 10px;
}