/* CSS file for advimage plugin popup */
div.ui-tabs-panel  {
    height : 200px;
}
div.ui-tabs-panel div {
    margin : 10px 0;
}

select {
    min-width : 250px;
}

#itemtype {
    margin-left : -4px;
}

#itemid {
    min-width : 246px;
}

span.loader {
    /*display: none;*/
}

div.itemtype-options > input {
    margin : 0 10px 0 80px;
}

div.itemtype-options > input + label + input {
    margin : 0 10px;
}
