.quizzes {
	border: 1px solid #dddddd;
    padding: 10px;
}
.quizzes ul {
	margin:0;
}
.quizzes ul li {
	display: inline-block;
	margin: 0 0 5px;
	width: 100%;
}
.quizzes ul li a {
}
.quizzes ul li .th-image {
	border: 1px solid #ddd;
	border-radius: 3px;
	float: left;
	height: 50px;
	margin: 0 3% 0 0;
	padding: 5px;
	text-align: center;
	width: 22%;
	max-width: 50px;
}
.quizzes ul li .th-image img {
	max-height: 50px;
	width: 50px;
}
.quizzes ul li .quizzes-title {
	font-weight: bold;
	width: auto;
}
.quizzes ul li .cat-title {
	font-size: 12px;
	float: left;
	width: auto;
}
.quizzes .view-all {
	border-top: 1px dashed #ccc;
	padding: 10px 0 0;
	text-align: center;
}
.quizzes .view-all a {
	display: inline-block;
}
.playedquiz {
	padding: 0 0 0 5px
}
