.sf-menu .parent a:hover span {
	color: #DA8C42;
}
#sidebar0 {
    display: none;
}
#filearr0:hover #sidebar {
    display:block;
}

.container {
	background: #ffffff;
}

/*** google search ***/
.search input[type="submit"] {
	background-image: url('../images/search_zoom.png');
	background-repeat: no-repeat;
	background-position: 25% 60%;
}

/*** mainmenu sf-menu ***/
.mainmenu {
	background-position: center bottom;
	font-family: "Microsoft JhengHei","Arial";
}

.mainmenu a,
.mainmenu span {
	color: #666;
	/*text-shadow: 1px 1px #fff;*/
	font-weight: bold;
}

.mainmenu a:hover span,
.mainmenu a:focus span {
	text-decoration: none;
}

#mainmenu {
	background-color:#e9ecdd; /* for old IE */
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fbfbfb, endColorstr=#e9ecdd); /* for IE5.5~IE9 */
	background:linear-gradient(to bottom, #fbfbfb 0%, #e9ecdd 100%); /* IE10~  */
	text-align: center;
}

/*#mainmenu li:hover {
	background-color: #FFFFFF;
}*/

#mainmenu li a,
#mainmenu li span {
	color: #22366f;
	font-size: 17px;
}

/*#mainmenu li:hover span {
	color: #CC6700;
}*/

#mainmenu li.active a span {
	/*color: #001c58;*/
	font-weight: bold;
}

#mainmenu li ul {
	background-color:rgba(87, 55, 0, 0.9);
}

#mainmenu li ul .submenu_list .submenu_icon {
	font-weight: bold;
	color: #ffb433;
	margin: 0 15px 0 5px;
}

#mainmenu li ul .submenu_list a span {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
}

#mainmenu li ul .submenu_list a:hover,
#mainmenu li.active ul .submenu_list span.active a {
	background-color: #4c3000;
}

/*#mainmenu li ul .submenu_list a:hover span,
#mainmenu li ul .submenu_list .active a span {
	color: #FF7733;
}*/

#tmpl_banner .bannergroup,
#home_banner .bannergroup {
	background-size: 100%;
    background-repeat: no-repeat;
}

/*** home ***/
/*** quick_link ***/
.home, .contentarea {
	background-color:rgba(255, 255, 255, 0.6);
}

/*** mod_announcement ***/
.home_area #tabs_announcement {
	background-color: #95abe6;
}

#tabs_announcement .tab-box {
	background-image: url('../images/announcement_titile.png');
	background-repeat: no-repeat;
	background-color: #d9e3ff;
}

#tabs_announcement .tab-link span {
	font-size: 18px;
	font-weight: bold;
}

.mod_announcement .datablock:hover {
	background-color: #a1b3e6;
}

.mod_announcement .listline .rdate {
	color: #2952c3;
	font-size: 12px;
	font-weight: bold;
}

.mod_announcement .listline .rtitle {
	color: #494949;
	font-size: 14px;
}

.mod_announcement .listline .title_icon {
	color: #3357b8;
	font-size: 24px;
}

.mod_announcement .listline .rtitle a {
	color: #494949;
	font-size: 14px;
}

.mod_announcement .more_announcement a {
	color: #0f2d80;
	font-size: 14px
}

/*** mod_hit ***/
.mod_hit .hit_name {
	color: #de7002;
	font-size: 16px;
	font-weight: bold;
	padding: 0px 23px;
	margin-left: 30px;
	background-color: #FFFFFF;
}

.mod_hit .hit_block {
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#ffe6cc);
	background:linear-gradient(to bottom, #FFFFFF 0%, #FFFCF7 60%, #ffe6cc 100%);
}

.mod_hit .h_title {
	color: #c33;
	font-size: 22px;
	font-weight: bold;
}

.mod_hit .h_content {
	font-size: 14px;
}

.mod_hit .h_more a,
.mod_tmpl_hit .h_more a {
	color: #f30;
}

/* 2015-08-07 */
.home_area .newsflash {
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#bcccf7);
	background:linear-gradient(to bottom, #FFFFFF 70%, #bcccf7 100%);
}

.home_area .newsflash .hit_name {
	color: #3856aa;
	font-size: 16px;
	font-weight: bold;
	padding: 0px 23px;
	margin-left: 30px;
	background-color: #FFFFFF;
}

.home_area .newsflash .newsflash-title {
	color: #b58024;
	font-size: 22px;
	font-weight: bold;
}

/*** login form ***/
#login-form .userdata {
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#95abe6);
	background:linear-gradient(to bottom, #FFFFFF 0%, #95abe6 100%);
}

#login-form .login_title {
	background-color: #788fd1;
}

#login-form .login_bg {
	background-image: url('../images/login_title.png');
	background-repeat: no-repeat;
	background-position: right;
}

#login-form .login_block {
	background-color: #d9e3ff;
}

#login-form .login_title span {
	font-size: 18px;
	color: #FFFFFF;
}

#login-form #modlgn-username,
#login-form #modlgn-passwd {
	font-size: 16px;
}

#login-form #form-login-submit button {
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	background: #899fd8;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#899fd8, endColorstr=#677fca);
	background:linear-gradient(to bottom, #899fd8 0%, #677fca 100%);
}

#login-form .unstyled a {
	color: #494949;
}

#login-form .unstyled #loginform_register {
	color: #2952c3;
}

/*** iquick_link ***/
.custom_iquick .iquick_link {
	background: #f0bc55;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0bc55, endColorstr=#eaa63f);
	background:linear-gradient(to bottom, #f0bc55 0%, #eaa63f 100%);
}

.custom_iquick2 .iquick_link {
	background: #677fca;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#899fd8, endColorstr=#677fca);
	background:linear-gradient(to bottom, #899fd8 0%, #677fca 100%);
}

.custom_iquick .iquick_icon {
	background-image: url('../images/iquick_icon.png');
	background-repeat: no-repeat;
	background-position: right;
}

.custom_iquick2 .iquick_icon {
	background-image: url('../images/iquick2_icon.png');
	background-repeat: no-repeat;
	background-position: right;
	background-position-x: 91%;
}

.iquick_link a {
	color: #FFFFFF;
}

.custom_iquick .iquick_icon span,
.custom_iquick2 .iquick_icon span {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}

/*** tmpl ***/
/*** leftmenu ***/
.mod_tmpl_hit .hit_name {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	background-color:#ea6648;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ea6648, endColorstr=#e55039);
	background:linear-gradient(to bottom, #ea6648 0%, #e55039 100%);
}

.mod_tmpl_hit .hit_block {
	background-color: #ffecd9;
}

.mod_tmpl_hit .h_title {
	color: #c33;
	font-size: 18px;
	font-weight: bold;
}

.mod_hit .h_content {
	font-size: 14px;
}

/* 2015-08-10 hit */
#left_menu .newsflash {
	background-color: #d9e3ff;
}

#left_menu .newsflash .hit_name {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
}

#left_menu .newsflash .newsflash-title {
	color: #2952c3;
	font-size: 18px;
	font-weight: bold;
}
/* end */

.mod_leftmenu .parent div {
	background: #899fd8;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#899fd8, endColorstr=#677fcb);
	background:linear-gradient(to bottom, #899fd8 0%, #677fcb 100%);
}

.mod_leftmenu .parent a {
	color: #FFFFFF;
	font-size: 21px;
	font-weight: bold;
}

.mod_leftmenu .small {
	background: #f2f6ff;
}

.mod_leftmenu .small li a {
	color: #494949;
	margin-left: 10px;
	font-size: 16px;
	font-weight: bold;
}

.mod_leftmenu .small .active,
.mod_leftmenu .small li:hover {
	background: #edb14a;
}

.mod_leftmenu .small .active a,
.mod_leftmenu .small li:hover a
{
	color: #FFFFFF;
	font-weight: bold;
}

/*** mod_breadcrumb ***/
.breadcrumb {
	background: url('../images/breadcrumbs.png') no-repeat;
}

.breadcrumb .divider {
	color: #B3BCC5;
}

.breadcrumb .active span {
	color: #2952c3;
	font-weight: bold;
}

/*** mod_sectiontitle ***/
.mod_sectiontitle {
	color: #2952c3;
	font-size: 18px;
	font-weight: bold;
	background-color: #FFFFFF;
}

/*** content ***/
.contentarea #content_block {
	background-color:#FFFFFF;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#c7d6ff);
	background:linear-gradient(to bottom, #FFFFFF 60%, #c7d6ff 100%);
}

/*** footer ***/
.foot_main .footergroup {
	background-size: 100%;
    background-repeat: no-repeat;
}

/*** other ***/
/*** page-header ***/
.page-header {
	background-color: #F5F5F5;
}

.page-header .title,
.page-header .title a {
	font-size: 16px;
	font-weight: bold;
	color: #b58024;
}

.game_page-header .title {
	font-size: 21px;
	font-weight: bold;
	color: #b58024;
}

.game_page-header .title .note {
	font-size: 14px;
	color: #666;
}

.intro_text {
	color: #000;
	font-size: 16px;
	/*font-weight: bold;*/
	background-color: #aabdf2;
}

/* 單一分類清單頁面 */
.page-header.item-title {  
	font-size: 16px;
	font-weight: bold;
	background: #ededed;
	text-shadow: 1px 1px #fafafa;
}

/*** submit ***/
.submit_block {
	background-color: #f0bc55;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0bc55, endColorstr=#eaa640);
	background:linear-gradient(to bottom, #f0bc55 0%, #eaa640 100%);
}

.reset_block {
	background-color:#50A5B9;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#50A5B9, endColorstr=#3F86A4);
	background:linear-gradient(to bottom, #50A5B9 0%, #3F86A4 100%);
}

.submit_block input[type="button"],
.submit_block input[type="submit"],
.reset_block input[type="button"],
.reset_block input[type="submit"],
.submit_block a,
.reset_block a {
	font-size: 18px;
	font-weight: bold;
	background-image: url('../images/submit_icon.png');
	background-repeat: no-repeat;
	background-position: right;
	color: #fff;
}


/*** pagination ***/
.page_counter span {
	font-weight: bold;
}

.pagination ul li,
.prev_next div {
	font-weight: bold;
	font-size: 12px;
}

.pagination ul li span,
.pagination ul li a:hover,
.prev_next div a:hover {
	color: #f2f2f2;
	box-shadow: 0px 0px 3px 5px #5f5f5f inset;
	background: #686868;
	filter: none;
}

.pagination ul li a,
.prev_next div a {
	color: #717171;
	background-color:#f9f9f9;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9f9f9, endColorstr=#eaeaea);
	background:linear-gradient(to bottom, #f9f9f9 50%, #eaeaea 100%);
}

/* ########## list page ########## */

#content .content-category table a {
	color: #202020;
}

#content .content-category table thead th a,
table.datatable thead th,
table.datatable thead th a {
	color: #fff;
}

table.datatable thead th:nth-child(odd),
table.datatable thead th.odd {
	background: #2c4587;
}

table.datatable thead th:nth-child(even),
table.datatable thead th.even {
	background: #314b95;
}

table.datatable tbody tr,
table.datatable tbody tr a {
	color: #5c5c5c;
	text-shadow: 1px 1px #fafafa;
}

table.datatable tbody tr:nth-child(odd) td:nth-child(odd),
table.datatable tbody tr.odd td.odd {
	background: #e1e0e0;
}

table.datatable tbody tr:nth-child(odd) td:nth-child(even),
table.datatable tbody tr.odd td.even {
	background: #ebeaea;
}

table.datatable tbody tr:nth-child(even) td:nth-child(odd),
table.datatable tbody tr.even td.odd {
	background: #ededed;
}

table.datatable tbody tr:nth-child(even) td:nth-child(even),
table.datatable tbody tr.even td.even {
	background: #fbfbfb;
}

table.datatable tbody tr:hover,
table.datatable tbody tr:hover a {
	color: #1a1a1a;
}

table.datatable tbody tr:hover td:nth-child(odd),
table.datatable tbody tr:hover td:nth-child(even),
table.datatable tbody tr:hover td.odd,
table.datatable tbody tr:hover td.even {
	background: #fff;
}

table caption {
	font-family: "Microsoft JhengHei","Arial";
	color: #b63ac2;
}

table.listtable tr:nth-child(odd),
table.listtable tr.odd {
	background: #ebeaea;
}

table.listtable tr:nth-child(even),
table.listtable tr.even {
	background: #fbfbfb;
}

table.listtable tr:hover {
	background: #fff;
}

/*** components ***/
/*** com_choose ***/
.com_choose #choose_form {
	font-size: 15px;
	color: #262825;
}

.com_choose .profile_table {
	font-size: 16px;
}

.com_choose .profile_table tr {
	line-height: 25px;
}

.com_choose .title_icon span.title_text {
	color: #b58024;
	font-size: 18px;
	font-weight: bold;
}

.com_choose .choose_block {
	/*background-color:#FFD1A3;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFD1A3, endColorstr=#FEB66C);
	background:linear-gradient(to bottom, #FFD1A3 0%, #FEB66C 100%);*/
}

.com_choose .game2_block .choose_block {
	background-color:#CEE688;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#CEE688, endColorstr=#B2D754);
	background:linear-gradient(to bottom, #CEE688 0%, #B2D754 100%);
}

.com_choose .choose_item {
	/*color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	background-image: url('../../../filesys/images/com_choose/item_icon.png');
	background-repeat: no-repeat;*/
}

.com_choose .game_block .mychoose {
	background-image: url('../../../components/com_choose/assets/images/room.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

.com_choose .game2_block .mychoose {
	background-color: #f2fff5;
	border: 1px solid #a2ddb1;
}

.com_choose .hovered {
	background-color: #aaa;
}

.com_choose .choose_active {
	background-color: #d9ffe2;
}

/*** com_truelove ***/
.com_truelove #truelove_bg {
	background-image: url('../../../filesys/images/com_truelove/truelove_bg.gif');
	background-repeat: no-repeat;
	background-position: right;
}

/*** com_checklist ***/
.com_checklist .checklist_block .checklist_title {
	font-size: 16px;
	font-weight: bold;
	color: #0271A8;
}

.com_checklist .list_block {
	font-family: '微軟正黑體',"PMingLiU","Arial" !important;
	font-size: 16px;
} 

.com_checklist .list_block input[type='checkbox'] {
	width: 21px;
	height: 21px;
} 

.com_checklist .add_item span,
.com_checklist .add_todo_item span,
.com_checklist .add_contact_item span {
    background-color: #2EA049;
    color: #FFFFFF;
    font-size: 10px;
}

.com_checklist #contact_list .add_contact_item {
	font-size: 14px;
}
/* com_gathercard */

.com_gathercard .mychoose {
	cursor: pointer;
}

.com_gathercard .score {
	font-weight: bold;
	color: #c0504d;
}

.com_gathercard .readmore a {
	color: #b58024;
	text-decoration: underline;
}

/* mood */

.mood-jquery .title {
	border-radius: 5px;
	color: #fff;
	background: #3386a8;
}

/* ########## tooltip 提示氣泡框 ########## */

.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	visibility: visible;
	font-size: 11px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
}
.tooltip.in {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}
.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}
.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}
.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}
.tooltip-inner {
	max-width: 200px;
	padding: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
}

/* ########## icon ########## */

@font-face {
	font-family: 'IcoMoon';
	src: url('../../../media/jui/fonts/IcoMoon.eot');
	src: url('../../../media/jui/fonts/IcoMoond41d.eot?#iefix') format('embedded-opentype'), url('../../../media/jui/fonts/IcoMoon.woff') format('woff'), url('../../../media/jui/fonts/IcoMoon.ttf') format('truetype'), url('../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.icon-home:before {
	content: "\21";
}
.icon-user:before {
	content: "\22";
}
.icon-checkedout:before,
.icon-lock:before,
.icon-locked:before {
	content: "\23";
}
.icon-comment:before,
.icon-comments:before {
	content: "\24";
}
.icon-comments-2:before {
	content: "\25";
}
.icon-share-alt:before,
.icon-out:before {
	content: "\26";
}
.icon-share:before,
.icon-redo:before {
	content: "\27";
}
.icon-undo:before {
	content: "\28";
}
.icon-file-add:before {
	content: "\29";
}
.icon-new:before,
.icon-plus:before {
	content: "\2a";
}
.icon-apply:before,
.icon-edit:before,
.icon-pencil:before {
	content: "\2b";
}
.icon-pencil-2:before {
	content: "\2c";
}
.icon-folder-open:before,
.icon-folder:before {
	content: "\2d";
}
.icon-folder-close:before,
.icon-folder-2:before {
	content: "\2e";
}
.icon-picture:before {
	content: "\2f";
}
.icon-pictures:before {
	content: "\30";
}
.icon-list:before,
.icon-list-view:before {
	content: "\31";
}
.icon-power-cord:before {
	content: "\32";
}
.icon-cube:before {
	content: "\33";
}
.icon-puzzle:before {
	content: "\34";
}
.icon-flag:before {
	content: "\35";
}
.icon-tools:before {
	content: "\36";
}
.icon-cogs:before {
	content: "\37";
}
.icon-options:before,
.icon-cog:before {
	content: "\38";
}
.icon-equalizer:before {
	content: "\39";
}
.icon-wrench:before {
	content: "\3a";
}
.icon-brush:before {
	content: "\3b";
}
.icon-eye-open:before,
.icon-eye:before {
	content: "\3c";
}
.icon-checkbox-unchecked:before {
	content: "\3d";
}
.icon-checkin:before,
.icon-checkbox:before {
	content: "\3e";
}
.icon-checkbox-partial:before {
	content: "\3f";
}
.icon-asterisk:before,
.icon-star-empty:before {
	content: "\40";
}
.icon-star-2:before {
	content: "\41";
}
.icon-featured:before,
.icon-star:before {
	content: "\42";
}
.icon-calendar:before {
	content: "\43";
}
.icon-calendar-2:before {
	content: "\44";
}
.icon-question-sign:before,
.icon-help:before {
	content: "\45";
}
.icon-support:before {
	content: "\46";
}
.icon-pending:before,
.icon-warning:before {
	content: "\48";
}
.icon-publish:before,
.icon-save:before,
.icon-ok:before,
.icon-checkmark:before {
	content: "\47";
}
.icon-unpublish:before,
.icon-cancel:before {
	content: "\4a";
}
.icon-eye-close:before,
.icon-minus:before {
	content: "\4b";
}
.icon-purge:before,
.icon-trash:before {
	content: "\4c";
}
.icon-envelope:before,
.icon-mail:before {
	content: "\4d";
}
.icon-mail-2:before {
	content: "\4e";
}
.icon-unarchive:before,
.icon-drawer:before {
	content: "\4f";
}
.icon-archive:before,
.icon-drawer-2:before {
	content: "\50";
}
.icon-box-add:before {
	content: "\51";
}
.icon-box-remove:before {
	content: "\52";
}
.icon-search:before {
	content: "\53";
}
.icon-filter:before {
	content: "\54";
}
.icon-camera:before {
	content: "\55";
}
.icon-play:before {
	content: "\56";
}
.icon-music:before {
	content: "\57";
}
.icon-grid-view:before {
	content: "\58";
}
.icon-grid-view-2:before {
	content: "\59";
}
.icon-menu:before {
	content: "\5a";
}
.icon-thumbs-up:before {
	content: "\5b";
}
.icon-thumbs-down:before {
	content: "\5c";
}
.icon-delete:before,
.icon-remove:before,
.icon-cancel-2:before {
	content: "\49";
}
.icon-save-new:before,
.icon-plus-2:before {
	content: "\5d";
}
.icon-ban-circle:before,
.icon-minus-sign:before,
.icon-minus-2:before {
	content: "\5e";
}
.icon-key:before {
	content: "\5f";
}
.icon-quote:before {
	content: "\60";
}
.icon-quote-2:before {
	content: "\61";
}
.icon-database:before {
	content: "\62";
}
.icon-location:before {
	content: "\63";
}
.icon-zoom-in:before {
	content: "\64";
}
.icon-zoom-out:before {
	content: "\65";
}
.icon-expand:before {
	content: "\66";
}
.icon-contract:before {
	content: "\67";
}
.icon-expand-2:before {
	content: "\68";
}
.icon-contract-2:before {
	content: "\69";
}
.icon-health:before {
	content: "\6a";
}
.icon-wand:before {
	content: "\6b";
}
.icon-unblock:before,
.icon-refresh:before {
	content: "\6c";
}
.icon-vcard:before {
	content: "\6d";
}
.icon-clock:before {
	content: "\6e";
}
.icon-compass:before {
	content: "\6f";
}
.icon-address:before {
	content: "\70";
}
.icon-feed:before {
	content: "\71";
}
.icon-flag-2:before {
	content: "\72";
}
.icon-pin:before {
	content: "\73";
}
.icon-lamp:before {
	content: "\74";
}
.icon-chart:before {
	content: "\75";
}
.icon-bars:before {
	content: "\76";
}
.icon-pie:before {
	content: "\77";
}
.icon-dashboard:before {
	content: "\78";
}
.icon-lightning:before {
	content: "\79";
}
.icon-move:before {
	content: "\7a";
}
.icon-next:before {
	content: "\7b";
}
.icon-previous:before {
	content: "\7c";
}
.icon-first:before {
	content: "\7d";
}
.icon-last:before {
	content: "\e000";
}
.icon-loop:before {
	content: "\e001";
}
.icon-shuffle:before {
	content: "\e002";
}
.icon-arrow-first:before {
	content: "\e003";
}
.icon-arrow-last:before {
	content: "\e004";
}
.icon-chevron-up:before,
.icon-uparrow:before,
.icon-arrow-up:before {
	content: "\e005";
}
.icon-chevron-right:before,
.icon-arrow-right:before {
	content: "\e006";
}
.icon-chevron-down:before,
.icon-downarrow:before,
.icon-arrow-down:before {
	content: "\e007";
}
.icon-chevron-left:before,
.icon-arrow-left:before {
	content: "\e008";
}
.icon-arrow-up-2:before {
	content: "\e009";
}
.icon-arrow-right-2:before {
	content: "\e00a";
}
.icon-download:before,
.icon-arrow-down-2:before {
	content: "\e00b";
}
.icon-arrow-left-2:before {
	content: "\e00c";
}
.icon-play-2:before {
	content: "\e00d";
}
.icon-menu-2:before {
	content: "\e00e";
}
.icon-arrow-up-3:before {
	content: "\e00f";
}
.icon-arrow-right-3:before {
	content: "\e010";
}
.icon-arrow-down-3:before {
	content: "\e011";
}
.icon-arrow-left-3:before {
	content: "\e012";
}
.icon-print:before,
.icon-printer:before {
	content: "\e013";
}
.icon-color-palette:before {
	content: "\e014";
}
.icon-camera-2:before {
	content: "\e015";
}
.icon-file:before {
	content: "\e016";
}
.icon-file-remove:before {
	content: "\e017";
}
.icon-save-copy:before,
.icon-copy:before {
	content: "\e018";
}
.icon-cart:before {
	content: "\e019";
}
.icon-basket:before {
	content: "\e01a";
}
.icon-broadcast:before {
	content: "\e01b";
}
.icon-screen:before {
	content: "\e01c";
}
.icon-tablet:before {
	content: "\e01d";
}
.icon-mobile:before {
	content: "\e01e";
}
.icon-users:before {
	content: "\e01f";
}
.icon-briefcase:before {
	content: "\e020";
}
.icon-download:before {
	content: "\e021";
}
.icon-upload:before {
	content: "\e022";
}
.icon-bookmark:before {
	content: "\e023";
}
.icon-out-2:before {
	content: "\e024";
}

/* ########## alert ########## */

#system-message-container {
	margin: 5px 0;
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.alert,
.alert h4 {
	color: #c09853;
}
.alert h4 {
	margin: 0;
}
.alert .close {
	position: relative;
	line-height: 18px;
}
.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}
.alert-success h4 {
	color: #468847;
}
.alert-danger,
.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}
.alert-danger h4,
.alert-error h4 {
	color: #b94a48;
}
.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}
.alert-info h4 {
	color: #3a87ad;
}
.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
	margin-bottom: 0;
}
.alert-block p + p {
	margin-top: 5px;
}

.alert-message div p {
	color: #f00;
	font-size: 15px;
}

div.com_postcards table {
	line-height: 25px;
}

div.com_postcards .submit {
	text-align: center;
}

div.com_postcards .img_block {
	display: inline-block;
	zoom: 1;
	width: 180px;
	padding: 10px;
	margin: 5px;
	/*height: 230px;*/
}

div.com_postcards .img_blocks .image img {
	width: 170px;
	border: 5px solid #fff;
}


div.com_lovetime .contentTableTop {
	margin-top: 0;
	/*border-bottom: 1px solid #cccccc;*/
	padding: 0 0 5px;
	font-size: 21px;
	font-weight: bold;
	color: #0F7F29;
	margin-bottom: 10px;
}

div.com_lovetime .loveTop 
,div.com_lovetime .lovelornTop {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	color:#4d5051;
}

div.com_lovetime .loveDate {
	text-align: left;
	margin: 25px 0 10px 40px;
}

div.com_lovetime .loveDate #datepicker1 {
	height: 37px;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

div.contirNewsList {
	margin-top: 20px;
	padding-bottom: 20px;
}

div.contirNewsList ul li {
	width: 100%;
	height: 35px;
	display: block;
	margin-bottom: 10px;
	background-image: url('../images/contriNewsListbg.gif');
	background-repeat: no-repeat;
	background-size: 99.5%
}

div.contriNewsNum {
	width: 33px;
	height: 33px;
	display: block;
	line-height: 33px;
	color: #fff;
	float: left;
	margin: 1px 0px 0px 1px;
	text-align: center;
}

div.contriNewsInfo {
	width: 78%;
	height: 33px;
	display: block;
	padding-left: 15px;
	line-height: 33px;
	overflow: hidden;
	float: left;
	margin-top: 1px;
}

div.contriNewsInfo a:link, div.contriNewsInfo a:visited {
	text-decoration: none;
	color: #666;
}

div.contriNewsInfo a:hover {
	text-decoration: underline;
	color: #000;
}

div.contriNewsMore {
	width: 89px;
	height: 33px;
	display: block;
	line-height: 33px;
	margin: 1px 0px 0px 1px;
	text-align: center;
	float: left;
}

div.contriNewsMore a:link, div.contriNewsMore a:visited {
	color: #fff;
	width: 81px;
	height: 25px;
	display: block;
	font-size: 12px;
	margin: 4px auto;
	line-height: 25px;
	text-decoration: none;
	background-image: url('../images/moreBtn.png');
	background-repeat: no-repeat;
}

div.contriNewsMore a:hover {
	color: #000;
}

div.ViewBtn ul li.viewBtn2 a:link, div.ViewBtn ul li.viewBtn2 a:visited {
	background-color: #2891a8;
}

div.ViewBtn ul li.viewBtn2 a:hover {
	background-color: #286b7a;
}

div.ViewBtn ul li a:link, div.ViewBtn ul li a:visited {
	width: 150px;
	height: 35px;
	display: block;
	line-height: 35px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-family: "微軟正黑體";
}

div.ViewBtn ul {
	float: right;
	list-style: none;
	margin: 0;
}

.com_users .input-prepend {
	color: #999;
	width: 220px;
	margin: 12px 0px;
	border: 1px solid #c3de85;
}

.com_users .icon-user,
.com_users .icon-lock {
	margin: 5px;
}

.com_users .well {
	width: 225px;
	margin: 0 auto;
}

.com_users .loginfooter {
	margin-right: 70px;
	text-align: center;
}

.login #username, .login #password {
	font-size: 16px;
    width: 190px;
    line-height: 40px;
    /*margin-bottom: 12px;*/
    border: none;;
}

.login .btn-primary {
	width: 185px;
    height: 42px;
    border: 0px;
    margin: 12px 0 12px 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
	background: #f0bc55;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0bc55, endColorstr=#eaa63f);
	background:linear-gradient(to bottom, #f0bc55 0%, #eaa63f 100%);
}

#users-profile-core legend, .profile-edit legend, .registration legend {
	border-bottom: 1px solid #fc9;
    color: #ff0000;
    width: 100%;
	font-size: 18px;
	margin-bottom: 10px;
}

#users-profile-core .dl-horizontal dt {
	float: left;
	width: 20%;
	line-height: 24px;
	font-size: 14px;
}

#users-profile-core .dl-horizontal dd {
	float: left;
	width: 80%;
	line-height: 24px;
	font-size: 14px;
}

.profile-edit .btn-primary, .form-actions .btn-primary {
	padding: 5px;
    border: 0px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #ffb357;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffb357, endColorstr=#ff9941);
    background: linear-gradient(to bottom, #ffb357 0%, #ff9941 100%);
}

.profile-edit .control-group {
	margin-bottom: 5px;
}

.profile-edit .control-group .control-label, .registration .control-group .control-label {
	float: left;
	width: 30%;
	line-height: 30px;
	font-size: 14px;
}

.profile-edit .control-group .controls, .registration .control-group .controls {
	float: left;
	width: 70%;
	line-height: 30px;
	font-size: 14px;
}

/* com_postcards */

.postcard_greeting .result_title {
	/*color: #b58024;*/
}


	/*dennis*/
.c_p  p{color:#000; font-size:12px; line-height:24px; }

a:link {color:#009; text-decoration:underline;}

a:hover {color:#F90;}
.bb001 a:link, .bb001 a:visited,.bb001 a:active  { width:202px; height:42px; text-indent:-9999px; display:block; background:url(../../../filesys/images/system/Btn01.jpg)  no-repeat scroll left top;}

.bb001 a:hover {background-position:left bottom;}


#lay01 {display:block; float:left;}

#lay02 {display:block; float:right; width:360px;}

.date1 {color:#F30;}



.right2 { float:right;}