#mainmenu {
	display:  block !important;
}

#remainmenu {
	display: none !important;
}

#retopmenu {
	display: none !important;
}

.main_box .box{
	/*width:60%;*/
	margin: 0 auto;
	text-align: center;
	/*display: none;*/
}

.contentarea #left_menu {
	width: 245px;!important;
	float: left;!important;
}