<div class="Item02_role">
	</div>
<br><!--
<div class="Content_role">
	人生中好長的歲月都有彼此的陪伴<br>
	這段回憶充滿了甜蜜也有些苦澀<br>
	找個時間，手牽手<br>
	一起到曾經去過的地方走走吧</div>
<br>
<br>
<div class="Item02_role">
	更新我們的愛情地圖</div>
<br>
<div class="Content_role">
	愛滋長，人也會成長<br>
	人是會隨時間進步、改變的<br>
	在愛的旅途中別忘了<br>
	看看身旁的那一位，好好了解一下<br>
	彼此瞭解與關心，才能讓愛更增溫喔！</div>
<br>
<br>
<div class="Item02_role">
	願景 相愛靠學習</div>
<br>
<div class="Content_role">
	愛情長跑至此，是否有想過這段關係的未來呢？<br>
	是否要結婚呢？是否要走下一步呢？<br>
	這段關係在人生計畫中的哪裡呢？<br>
	最後別忘記，「幸福婚姻靠學習」<br>
	讓我們更有智慧的去愛、去經營囉！</div>
<br>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=7&Itemid=165">健康婚姻建築師</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_02.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&layout=libra&id=11&Itemid=168">我要愛情+麵包</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=73&Itemid=167">我們的時光寶盒</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_02.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=24&Itemid=130">幸福關係靠自己</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=15&Itemid=130">別怕一輩子的承諾</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain" id="MobileNotShow">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=23&Itemid=130">愛要穩固根基</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
-->

