<div class="Item02_role">
	</div>
<br>
<div class="Content_role">
	爸爸媽媽可以一起準備待產包、嬰兒用品，
隨時準備迎接寶寶的到來。
<br><br>
爸爸媽媽可以先與醫生討論好生產的方式，
並討論好產後坐月子和寶寶照顧要如何安
排。
<br><br>
這個時候寶寶隨時可能來報到，爸爸要保持
通訊暢通，讓媽媽可以隨時找到喔！
<br><br>
</div>
<!--
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&id=1&Itemid=148">看看自己的愛情風格！</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" style="width: 42px; height: 48px;" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_vquiz&view=quizmanager&layout=libra&id=10&Itemid=152">是喜歡還是愛呢？</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_02.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=4&Itemid=130">迷戀？真愛？</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img height="48" src="images/Speaker_03_01.png" width="42" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=19&Itemid=130">約會防暴手冊</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="noteTableExplain">
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<img src="images/Speaker_03_2_01.png" style="width: 42px; height: 48px;" /></td>
				<td style="background: url('images/Speaker_03_bg.png') repeat-x;">
					<a href="index.php?option=com_content&view=article&id=22&Itemid=130">倆人的愛情藍圖</a></td>
				<td>
					<img height="48" src="images/Speaker_03.png" width="21" /></td>
			</tr>
		</tbody>
	</table>
</div>
-->
