.category {
	border: 1px solid #dddddd;
    padding: 10px;
}
.category ul {
	margin:0;
}
.category ul li {
	display: inline-block;
	margin: 0 0 15px;
	width: 100%;
}
.category ul li a {
}
.category ul li .th-image {
	border: 1px solid #ddd;
	border-radius: 3px;
	float: left;
	height: 50px;
	margin: 0 10px 0 0;
	padding: 5px;
	text-align: center;
	width: 50px;
}
.category ul li .th-image img {
	max-height: 50px;
	width: 50px;
}
.category ul li .category-title {
	display: block;
	font-weight: bold;
}
.category .view-all {
	border-top: 1px dashed #ccc;
	padding: 10px 0 0;
	text-align: center;
}
.category .view-all a {
	display: inline-block;
	font-weight: bold;
}
