/* ########## sf-mainmenu ########## */
#mainmenu #item-134,
#mainmenu #item-134_now {
	width: 140px;
}

#mainmenu #item-135,
#mainmenu #item-135_now,
#mainmenu #item-138,
#mainmenu #item-138_now {
	width: 160px;
}

#mainmenu #item-140,
#mainmenu #item-140_now,
#mainmenu #item-141,
#mainmenu #item-141_now,
#mainmenu #item-144,
#mainmenu #item-144_now {
	width: 95px;
}

#mainmenu #item-136,
#mainmenu #item-136_now,
#mainmenu #item-137,
#mainmenu #item-137_now {
	width: 140px;
}

#mainmenu #item-278,
#mainmenu #item-278_now {
	width: 110px;
}

#mainmenu #item-295,
#mainmenu #item-295_now {
	width: 125px;
}

#mainmenu #item-142,
#mainmenu #item-142_now {
	width: 120px;
}

#mainmenu #item-278,
#mainmenu #item-278_now {
	border-right: 0px !important;
}

#mainmenu #item-134 ul,
#mainmenu #item-134_now ul {
	left: -41px;
}

#mainmenu #item-144 ul,
#mainmenu #item-144_now ul {
	width: 248px !important;
}

/*+++++++ activity ++++++++*/
.all {
	position: relative;
}

.container {
	position: relative;
}

.theme_top {
	position: relative;
	/*z-index: 1;*/
}

.header {
	overflow: auto;
	padding-top: 2px;
	margin: 0px 20px;
}

.header-logo {
	float: left;
	padding-left: 10px;
}

.header-menu{
	float: right;
	overflow: hidden;
	padding-top: 8px;
}

#topmenu {
	display: inline-block;
}

ul#topmenu li {
	display: inline-block;
}

ul#topmenu li span {
	font-weight: bold;
}

/*** google search ***/
.itp-gs_search {
	display: inline-block;
}

.search input[type="submit"] {
	margin: 0px;
	border: 0px;
	width: 16px;
	height: 20px;
}

.search span,
.search .search_block {
	display: inline-block;
}

.search .search_block {
	border: 1px solid #D4D4D4;
	border-radius: 10px 10px 10px 10px;
	width: 180px;
	padding-left: 6px;
}

.search input.inputbox {
	border: none;
	width: 145px;
}

/*** home module ***/
/*** share ***/
.mod_topshare {
	text-align: right;
    margin-top: 10px;
}

/*** top-menu ***/
#retopmenu {
	display: none;
}

/*** sf-menu ***/
#remainmenu {
	display: none;
}

#mainmenu {
	border-bottom: 1px solid #d4d4d4;
}

#mainmenu li {
	display: inline-block;
	line-height: 42px;
	border-right: 1px solid #d3c6c6;
}

#mainmenu li:last-child {
	border-right: 0;
}

#mainmenu li ul:before {
	content: "";
	width: 18px;
	height: 8px;
	display: block;
	position: absolute;
	top: -8px;
	left: 76px;
}

#mainmenu li ul {
	display: block;
	position: relative;
	margin-top: 7px;
	line-height: 30px;
}

#mainmenu li ul .submenu_list a {
	padding:  0 15px;
	text-align: left;
}

/*** banner ***/
#home_banner .bannergroup {
	height: 380px;
}

#tmpl_banner .bannergroup {
	height: 220px;
} 

/*** home ***/
/*** quick_link ***/
.contentarea {
	overflow: hidden;
}

.home, #contentarea_block {
	z-index: 2;
	margin: 0 20px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.home {
	margin-top: -170px;
}

#contentarea_block {
	margin-top: -175px;
	min-height: 545px;
}

.home .quick_link {
	padding: 10px 20px 20px 20px;
}

#contentarea_block .quick_link {
	padding: 10px 20px 15px 20px;
}

.quick_link .item,
.quick_link .last_item,
.quick_link .time,
.quick_link .last_time {
	display: inline-block;
}

.item_block .item,
.time_block .time {
	margin-right: 3px;
}

.home .home_area {
	height: 750px;
}

/*** mod_announcement ***/
.home_area .left {
	float: left;
	width: 245px;
}

.home_area #tabs_announcement {
	height: 300px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#tabs_announcement .tab-box {
	height: 293px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#tabs_announcement .tab-title_announcement.tab-1st {
	left: 80px;
}

#tabs_announcement .tab-title_announcement.tab-2nd {
	left: 133px;
}

.mod_announcement .listline {
	padding: 10px 0 5px 0;
}

.mod_announcement .datablock {
	height: 35px;
	padding: 0px 10px;
}

.mod_announcement .listline .rdate {
	margin: 0 0 -8px 20px;
}

.mod_announcement .listline .title_icon {
	margin-left: 5px;
}

.mod_announcement .listline .rtitle {
	margin: -23px 0 0 20px;
}

.mod_announcement .more_announcement {
  	text-align: right;
  	margin-right: 15px;
}

/*** mod_hit ***/
.home_area .middle {
  	width: 455px;
  	float: left;
  	margin-left: 7.5px;
}

.home_area .mod_hit {
	background-color: #fc9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #fc9;
}

.mod_hit .hit_name {
	position: relative;
	top: -5px;
}

.mod_hit .hit_block {
	height: 407px;
	margin-top: -10px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.mod_hit .datablock {
	padding: 18px 26px;
}

.mod_hit .h_hr {
  border-bottom: 1px solid #d9d9d9;
  margin: 8px 0;
}

.mod_hit .h_more {
    font-size: 14px;
    text-align: right;
    margin: 5px 0;
}

.mod_hit .h_youtube embed {
    width: 100%;
    height: 220px;
}

/* 2015-08-07 */
.home_area .newsflash {
	padding: 18px 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #859dde;
	border-top: 12px solid #b4c3f0;
	/*min-height: 372px;*/
	height: 715px;
	overflow: hidden;
}

.home_area .newsflash .hit_name {
	position: absolute;
    top: 175px;
    left: 253px;
}

.home_area .newsflash .newsflash-title {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 10px;
    padding-bottom: 10px;
}


/*** login form ***/
.home_area .right {
	float: left;
	width: 245px;
	margin-left: 7.5px;
}

#login-form .userdata {
	height: 300px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#login-form .login_title,
#login-form .login_bg {
	height: 39px;
}

#login-form .login_title {
	width: 220px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

#login-form .login_bg {
	margin-top: -39px;
}

#login-form .login_block {
	height: 254px;
	padding: 0 12px;
}

#login-form .login_title span {
  	font-weight: bold;
  	position: relative;
  	top: 8px;
  	left: 15px;	
}

#login-form #form-login-username {
	padding-top: 15px;
}

#login-form #form-login-password {
	padding: 15px 0;
}

#login-form .input-prepend {
	color: #999;
	border: 1px solid #859dde;
	background-color: #FFFFFF;
}

#login-form #modlgn-username,
#login-form #modlgn-passwd {
	width: 190px;
	line-height: 40px;
  	border: none;
}

#login-form .icon-user,
#login-form .icon-lock {
	margin: 5px;
}

#login-form #form-login-submit button {
	width: 185px;
	height: 42px;
	border: 0px;
	margin: 12px 0 12px 32px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#login-form .unstyled {
	margin-left: 32px;
}

/*** iquick_link ***/
.custom_iquick .iquick_link,
.custom_iquick2 .iquick_link {
	margin-top: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#contentarea_block .custom_iquick .iquick_link {
	margin-top: 5px;
}

.custom_iquick .iquick_icon,
.custom_iquick2 .iquick_icon {
	width: 245px;
	height: 52px;
	text-align: center;
	line-height: 52px;
}

/*** footer ***/
/*** footer menu ***/
#footermenu {
  text-align: center;
  margin-top: 15px;
}

ul#footermenu li {
	display: inline-block;
	*display: inline;
	zoom:1;
}

ul#footermenu .separator {
	margin: 0 5px;
}

ul#footermenu li span {
	font-weight: bold;
}

/*** footer main ***/
.foot_main .custom_footerintro {
	text-align: center;
    margin-top: 25px;
    margin-bottom: -30px;
}

.foot_main .footergroup {
	height: 178px;
} 


/*** tmpl ***/
/*** leftmenu ***/
.contentarea #left_menu {
	width: 245px;
	float: left;
}

.mod_tmpl_hit .hit_name {
	text-align: center;
	line-height: 25px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.mod_tmpl_hit .hit_block {
	height: 135px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.mod_tmpl_hit .datablock {
	padding: 10px;
}

.mod_tmpl_hit .datablock img {
	margin-top: 8px;
}

.mod_tmpl_hit .h_content {
	margin: -53px 0 0 77px;
}

.mod_tmpl_hit .h_more {
	text-align: right;
}

.mod_leftmenu {
	margin: 10px 0;
}

/* 2015-08-10 hit */
#left_menu .newsflash {
	padding: 10px;
	/*height: 135px;*/
	overflow: hidden;
	border-top: 25px solid #eaa63f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#left_menu .newsflash .hit_name {
	position: absolute;
	top: 102px;
	left: 90px;
}

/* end */

.mod_leftmenu .parent div {
	line-height: 35px;
	text-align: center;
	margin-bottom: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.mod_leftmenu .small {
	padding: 10px;
	border: 1px solid #a2b2de;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.mod_leftmenu .small li {
	margin: 5px 0px;
	line-height: 27px;
	text-align: left;
}

.mod_leftmenu .small .active,
.mod_leftmenu .small li:hover {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}

/*** mod_breadcrumb ***/
.breadcrumb {
	margin-bottom: 10px;
}

.breadcrumb li {
	display: inline-block;
	zoom: 1;
}

.breadcrumb .divider {
	margin: 0 9px;
}

/*** mod_sectiontitle ***/
.mod_sectiontitle {
  	margin-left: 30px;
  	padding: 0 15px;
  	display: inline-block;
  	position: relative;
  	top: -5px;	
}

/*** content ***/
.contentarea #content,
.return {
	position: relative;
	margin-left: 245px;
	padding-left: 10px;
}

.contentarea #content_title {
	background-color: #aabdf2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #859dde;
}

.contentarea #content_block {
	overflow: auto;
	padding: 20px;
	margin-top: -14px;
}

#content_block .search input.inputbox {
	border: 2px inset;
}

/*** other ***/
/*** page-header ***/
.page-header {
	padding: 20px 0;
  	margin: 5px 0;
  	border-top: 5px solid #eaa640;
}

.game_page-header .title{
	margin-bottom: 25px;	
}

.content-category .cat-children div{
	display: inline-block;
}

.page-header.item-title {
	padding: 10px;
	margin-top: 5px;
	overflow: auto;
	border-top: 5px solid #ecb14b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.intro_text {
	padding: 30px 40px;
	line-height:30px;
	display: inline-block;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 100%;
	box-sizing: border-box;
}

.intro_image {
	display: inline-block;
	vertical-align: bottom;
}


.pull-right {
  float: right;
}

.btn-group {
  padding: 0 10px;
}

/*** content ***/
#content .content {
	padding: 10px;
	line-height: 25px;
	margin-bottom: 15px;
	overflow: auto;
}


/* ########## article ########## */

.media_btns {
	min-height: 25px;
	height: auto !important;
	height: 25px;
	overflow: auto;
	overflow-y: hidden;
}

.btn-group {
	padding: 0 10px;
}

.btn-group ul li {
	display: inline-block;
	*display: inline;
	zoom:1;
	line-height: 16px;
}

span.icon-print,
span.icon-envelope,
span.icon-pdf {
	display: inline-block;
	*display: inline;
	zoom:1;
	width: 16px;
	height: 16px;
}

.article-info {
	padding: 5px 0;
	text-align: right;
}

.article-info dd {
	display: inline-block;
	*display: inline;
	zoom:1;
	padding: 0 10px;
}

.item-page .content {
	padding-top: 15px;
	line-height: 25px;
}

/*** submit ***/
.submit_block, .reset_block {
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.submit_block input[type="button"],
.submit_block input[type="submit"],
.reset_block input[type="button"],
.reset_block input[type="submit"],
.submit_block a,
.reset_block a{
	display: block;
	min-width: 185px;
	height: 42px;
	margin: 0px;
	border: 0px;
	line-height: 42px;
	padding-right: 45px;
	text-align: center;
	box-sizing: border-box;
}

/*** return ***/
.return_inner {
	margin-top: 5px;
	padding: 3px 15px;
	display: inline-block;
	background: #f1c166;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f1c166, endColorstr=#eaa63f);
	background:linear-gradient(to bottom, #f1c166 0%, #eaa63f 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.return_inner a {
	color: #fff;
	font-weight: bold;
	line-height: 21px;
	cursor: pointer;
}

/*** pagination ***/
.page_counter {
	text-align: center;
	line-height: 30px;
	padding-top: 5px;
}

.page_counter span {
	font-size: 18px;
}

.pagination {
	text-align: center;
	line-height: 25px;
}

.pagination ul,
.prev_next {
	overflow: auto;
}

.pagination ul li,
.prev_next div {
	display: inline-block;
	vertical-align: bottom;
	line-height: 24px;
	text-align: center;
	margin-right: 5px;
}

.pagination ul li a,
.pagination ul li span,
.prev_next div a {
	display: block;
	width: 24px;
	border: 1px solid #c9c9c9;
	border-radius: 3px;
}

.pagination ul li span,
.pagination ul li a:hover,
.prev_next div a:hover {
	border: 1px solid #575757;
}

.prev_next {
	clear: both;
	text-align: right;
	padding: 10px 0;
}

.prev_next div a {
	width: auto;
	padding: 0 10px;
}

/* ########## list page ########## */
table.datatable {
	width: 100%;
}

table.datatable {
	line-height: 25px;
	margin: 10px 0;
	border-top: 5px solid #5b71ab;
	border-bottom: 5px solid #5b71ab;
}

table.datatable th,
table.datatable td {
	text-align: center;
	padding: 5px;
}

table.datatable thead th {
	border-bottom: 1px solid #fff;
}

table.datatable tbody tr {
	border-bottom: 1px dotted #d3ece4;
}

table.datatable tbody tr:hover {
	border: 1px solid #ccc;
}

table.datatable img {
	vertical-align: middle;
}

table.datatable td.rtitle {
	padding-left: 10px;
	text-align: left;
}

#categorylist_header_date,
#categorylist_header_author,
#categorylist_header_hits {
	width: 15%;
}

table.datatable thead th.table_date,
table.datatable thead th.table_site,
table.datatable thead th.table_cat,
table.datatable thead th.table_actdate {
	width: 20%;
}

table.datatable thead th.table_hits,
table.datatable thead th.table_type {
	width: 10%;
}

table.datatable thead th.table_id {
	width: 5%;
}

table caption {
	font-size: 18px;
	text-align: left;
	line-height: 30px;
	padding-left: 20px;
}

table.listtable {
	border-top: 5px solid #999;
	border-bottom: 5px solid #d6d6d6;
	line-height: 25px;
	margin: 10px 0;
}

table.listtable tr:nth-child(odd) {
	background: #ebeaea;
}

table.listtable tr:nth-child(even) {
	background: #fbfbfb;
}

table.listtable tr:hover {
	border: 1px solid #ccc;
}

table.listtable tr th,
table.listtable tr td {
	padding: 5px 20px;
}

table.listtable tr th {
	text-align: right;
	vertical-align: top;
}

table.dashtable tr {
	border-bottom: 1px dashed #666;
	line-height: 25px;
}

table.dashtable tr td,
table.dashtable tr th {
	padding: 5px;
}

/*** components ***/
/*** com_choose ***/
.com_choose #choose_intro_icon {
	position: relative;
	left: -3px;
	top: -55px;
}

.com_choose #choose_intro_image {
	/*margin-left: -10px;*/
}

.com_choose #choose_form {
	margin-top: 25px;
}

.com_choose .game_block table {
	width: 100%;
	table-layout: fixed;
}

.com_choose .game_block table img {
	max-width: 100%;
}

.com_choose .game_block table td {
	vertical-align: top;
}

.com_choose th {
	vertical-align: top;
}

.com_choose input[type='radio'] {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.com_choose .title_icon {
  margin-bottom: 10px;
  margin-top: 15px;
}

.com_choose .title_image {
	float: right;
	margin-top: -99px;
}

.com_choose .title_icon span {
	/*position: relative;
  	top: -6px;
  	left: 10px;*/
}

.com_choose #mychoose_block {
	width: 550px;
	height: 430px;
        margin:0 auto;
}

.com_choose .game_block .choose_block {
	margin: 5px;
	text-align: center;
	/*width: 160px;
	height: 103px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
}

.com_choose .game2_block .block {
	width: 160px;
    height: 85px;
    margin: 2px;
}

.com_choose .game2_block .choose_block {
	width: 160px;
	height: 85px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.com_choose .choose_block .item_text {
	padding: 5px 5px 0 5px;
	height: 40px;
}

.com_choose .choose_block label {
	height: 35px;
}
	
.com_choose .choose_item {
	/*width: 75px;
	height: 55px;
	line-height: 50px;*/
	/*margin-left: auto;
	margin-right: auto;
	text-align: center;*/
	position: relative;
}

.com_choose .game2_block .choose_item {
	padding: 10px;
}	
	
.com_choose .game_block .mychoose {
	width: 550px;
	height: 430px;
	position: absolute;
}

.com_choose .game2_block .mychoose {
	width: 662px;
	height: 270px;
	position: relative;
	margin-bottom: 10px;
}

.com_choose .mychoose div {
	/*margin-left: auto;
	margin-right: auto;*/
}
	
.choose_item:hover {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}
	
.choose_item:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.com_choose .choose_footer {
  	text-align: center;
}

.com_choose .choose_description {
	font-weight: bold;
	color: #2952c3;
}

/*** com_truelove ***/
.com_truelove #truelove_bg {
	width: 250px;
	height: 250px;
	float: right;
	position: absolute;
	top: 125px;
	right: 0px;	
}

/*** com_richgame ***/
.com_richgame .intro_text {
	width: 53%;
}

.com_richgame .start {
	width: 53%;
	text-align: center;
	padding: 30px 40px;
}

.com_richgame .richgame_level {
	margin-left: 30px;
}

.com_richgame input[type='radio'] {
    display: inline-block;
    width: 16px;
    height: 16px;
}

/*** com_vquiz ***/
.com_vquiz .noteTxt_div {
	width: 420px;
}

.com_vquiz td img {
	display: block;
}

.com_vquiz td .owl_img {
	width: 100%;
}

/*** com_sexypolling ***/
.com_sexypolling td img {
	display: block;
}

/*** com_checklist ***/
.com_checklist .checklist_block {
	/*text-align: center;*/
}

.com_checklist .add_item span,
.com_checklist .add_todo_item span,
.com_checklist .add_contact_item span {
	padding: 3px;
	margin-bottom: 5px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.com_checklist .list_block {
	padding: 5px 5px 5px 0px;
    border-top: 1px solid #E7EBEC;
}

.com_checklist #contact_list .list_block {
	overflow: auto;
}

.com_checklist #contact_list .contact_cat {
	float: left;
}
.com_checklist #contact_list .add_contact_item {
	float: right;
}

.com_checklist #contact_list .items_block {
	margin-left: 12px;
}

.com_checklist #output .submit_block {
	position: relative;
    top: -52px;
    left: 145px;
}
div.com_checklist .banner img{
    max-width:100%;
}

/* com_gathercard */

.com_gathercard .mychoose {
	text-align: center;
	margin-bottom: 10px;
}

.com_gathercard .mychoose img {
	max-width: 100%;
}

.com_gathercard .task_block {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

.com_gathercard .task_block {
	 background-image:url(../images/card1.png);
	 background-repeat: no-repeat;
	 width:400px;
	 padding: 20px 40px 40px 20px;
	 margin: 0 auto;
	 display: table;
}

.com_gathercard .task_block > div {
	display: table-cell;
	vertical-align: middle;
	 height:615px;
}

.com_gathercard .task {
	font-size: 24px;
	line-height: 50px;
}

.com_gathercard .readmore {
	margin: 10px 0;
	font-size: 16px;
	line-height: 30px;
}

/* mood */

.mood-jquery .title {
	position: relative;
	margin-right: 5px;
	line-height: 30px;
	font-size: 14px;
	padding: 0 5px;
}

.mood-jquery .title .arrow {
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent #3386a8;
	right: -10px;
	top: 10px;
}

/*** com_timeline ***/
.com_timeline .userdata {
	width: 245px;
	margin: 15px auto;
}

.com_timeline .form_input {
	width: 250px;
}

.com_timeline #baby_photo {
	margin: 10px 0;
	width: 250px;
}

/* com_postcards */

.postcard_greeting .cat_title {
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
}

.postcard_greeting .gimg_blocks {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin-bottom: 20px;
}

.postcard_greeting .gimg_block {
	display: table-cell;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
}

.postcard_greeting .gimg_block img {
	width: 90%;
}

.postcard_greeting .user_img {
	margin-bottom: 25px;
}

.postcard_greeting .form_table {
	font-size: 15px;
	line-height: 30px;
}

.postcard_greeting .message .form_table .control {
	width: 40px;
	text-align: center;
}

.postcard_greeting .result_title {
	text-align: center;
	font-size: 25px;
	line-height: 50px;
}

/* com_checklist */

.com_checklist .langtype_block,
.com_checklist .info {
	margin: 10px 0;
	padding-bottom: 10px;
}

.com_checklist .langtype_block .title {
	font-size: 16px;
	line-height: 35px;
	font-weight: bold;
}

.com_checklist .langtype_block .intro,
.com_checklist .info {
	font-size: 14px;
	line-height: 30px;
}

.head_banner {
	margin-top: 0px!important; 
}
